<html>
<head>
	<LINK REL=StyleSheet HREF="MLink/appli/inc/styles.css" TYPE="text/css" MEDIA=screen>
	<link rel="icon" type="image/png" href="MLink/images/Fav.png" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">	
	<title>MetalLink - Site de rencontres pour metalheads</title>
</head>
<body>
	<div class="site">
	<div><a href="home"><img src="MLink/images/structure/Header.png" /></a></div>
		<div class="divCorps">
		   <div id="a">
		   <p><img src="MLink/images/maintenance.png" alt="MetalLinK"/><br/><br/>
		   Le site est en cours de maintenance, merci de revenir plus tard.<br/><br/>
		   L'équipe de MetalLink.</p><br/><br/>
		 <p class="copy">copyrights 2011 MetalLinK - Tous droits réservés.</p>
		 </div>
		 
		</div>
	</div>
</body>
</html>