<html>
    <head>
        <base href="/" >
        <LINK REL=StyleSheet HREF="MLink/appli/inc/styles.css" TYPE="text/css" MEDIA=screen>
        <link rel="icon" type="image/png" href="MLink/images/icone/Fav.png" />
        <!--[if lte IE 7]>
        <link type="text/css" rel="stylesheet" media="all" href="css/screen_ie.css" />
        <![endif]-->
        <script type="text/javascript" src="MLink/appli/inc/chat/js/chat.js"></script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>MetalLink</title>
    </head>
    <body>
        <div class="site">
        <div><a href="home"><img src="MLink/images/structure/Header.jpg" /></a></div>
            <div class="divCorps">
               <div id="a">
                   <p><img src="MLink/images/structure/maintenance.png" alt="MetalLinK"/><br/><br/>
                   Le site est en cours de maintenance, merci de revenir plus tard.<br/><br/>
                   L'équipe de MetalLink.</p><br/><br/>
              </div>
            </div>
        </div>
    </body>
</html>
